node_modules/
*.php
*.py
*.ps1
*.zip
*.pdf
*.txt
# Ignore JS files except those in the functions directory
*.js
!functions/**/*.js
scratch/
browser/
.vscode/
.gemini/
deploy_package/
package-lock.json
package.json
